<div class="container align-content-center mt-5">
    <!--Card Styling-->
    <div class="card  text-center p-3 mb-5 border-black rounded-3 " style=" width: 18rem; background:
        #ADA996; /* fallback for old browsers */ background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB,
        #F2F2F2, #ADA996); /* Chrome 10-25, Safari 5.1-6 */ background: linear-gradient(to right, #EAEAEA, #DBDBDB,
        #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ ">
    {{#each cards as |card|}}
    <img src="/images/booknladder.jpg" class="card-img-top align-content-center" width="100" height="100" alt="bookshelf behind a sprial ladder">
    <div class="card-body">
        <h2 class="title card-title text-black fw-bolder">{{Book Name}}</h2>
        <p class="summary card-text">
                {{Book.Summary}}
        </p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Subtitle: {{subtitle}}</li>
        <li class="list-group-item">Genre: {{genre}}</li>
        <li class="list-group-item">: Author:{{author}}</li>
        <li class="list-group-item">Page Count: {{Page.Count}} </li>
        <li class="list-group-item">ISBN:  {{ISBN}}</li>
    </ul>
{{/each}}
</div>
</div>